.video__data {
  width: 95%;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  .video__owner {
    margin-bottom: 5px;
    font-size: 14px;
    a {
      color: cornflowerblue;
      text-decoration: underline;
    }
  }
  hr {
    width: 103%;
  }
  .video_title {
    font-size: 2rem;
    margin: 5px 0;
  }
  .video_hashtags {
    font-style: italic;
    color: #b1d4e0;
    font-size: 1.1rem;
  }
  .video_description {
    margin: 10px 0;
    font-size: 1.3rem;
    color: rgba(255, 250, 240, 0.952);
  }
  .nav {
    display: flex;
    color: #ffffffe3;
    .video_metaviews {
      margin-left: 5px;
    }
    .video__createdAt {
    }
  }
  .video__owner {
    font-style: italic;
    font-size: 1rem;
  }

  .footer {
    display: flex;
    justify-content: space-between;

    .video__owner {
    }

    .owner_selete {
      a {
        margin: 0 8px;
      }
    }
  }
}

.video__comments {
  display: flex;
  flex-direction: column;
  max-width: 320px;
  width: 100%;
  margin: 0 auto;
  margin-top: 20px;
  .video__comment {
    display: flex;
    padding: 10px;
    border-radius: 9999px;
    background-color: white;
    color: black;
    margin-bottom: 10px;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    .comment_username {
      width: 100%;
      text-align: center;
      margin-top: -10px;
      margin-bottom: 10px;
      font-style: italic;
      font-size: 0.9rem;
    }
    i {
    }
    .comment_text {
      width: 250px;
    }
    div {
    }
  }
}
