#videoContainer {
  width: 100%;
  position: relative;
  video {
    border-radius: 5px;
    width: 100%;
    height: 104%;
  }
  .videoControls {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    &.showing {
      opacity: 1;
    }
    align-items: center;
    border-radius: 10px;
    position: relative;
    bottom: 10%;
    width: 96%;
    left: 0;
    right: 0;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 4fr 1fr auto;
    gap: 7px;
    justify-content: space-between;
    background-color: #0f1117;
    padding: 10px;
    left: 0;
    box-sizing: border-box;
    #timeline {
      width: 100%;
    }
    #right_btn {
      display: flex;
      #mute {
        margin-right: 7px;
      }
    }
    #volume {
      width: 100%;
      margin-left: 5px;
    }
    .videoControls__play {
      display: flex;
      align-items: center;
      justify-content: space-around;
      white-space: nowrap;
      .videoControls__playBtn {
      }
      .videoControls__time {
        font-size: 12px;
      }
    }
    .videoControls__volume {
      display: flex;
      align-items: center;
      span {
        margin-left: 10px;
        i {
          font-size: 20px;
        }
      }
    }
  }
}

.delete_comment:hover {
  cursor: pointer;
}
@media only screen and (max-width: 1200px) {
  .app_container {
    width: 95%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 50vw auto;
    gap: 10px;
    .comment_container {
      max-width: 100%;
      height: auto !important;
      margin-top: 20px;
      grid-row: 3/4;
      #commentForm {
        padding: 0;
        width: 100%;
        border: none;
        #textarea {
          border-radius: 5px;
          width: 100%;

          padding: 0;
          border: none;
        }

        button {
          width: 100%;
          border-radius: 5px;
          padding: 12px 20px;
          background-color: #b1d4e0 !important;
          color: rgba($color: #0c2d48, $alpha: 1) !important;
          text-align: center !important;
        }
      }
      .comment_username {
      }
      .video__comments {
      }
    }
  }
}

@media only screen and (min-width: 1200px) {
  .app_container {
    width: 95%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 2.3fr 1fr;
    grid-template-rows: 443px 443px;
    gap: 10px;
    .comment_container {
      max-width: 100%;
      height: auto !important;
      grid-column: 2/3;
      grid-row: 1/3;
      margin-top: 11px;
      #commentForm {
        padding: 0;
        width: 100%;
        border: none;
        #textarea {
          border-radius: 5px;
          width: 100%;

          padding: 0;
          border: none;
        }

        button {
          width: 100%;
          border-radius: 5px;
          padding: 12px 20px;
          background-color: #b1d4e0 !important;
          color: rgba($color: #0c2d48, $alpha: 1) !important;
          text-align: center !important;
        }
      }
      .video__comments {
      }
    }
  }
}
